**/__pycache__
**/*.pyc
**/.venv
**/venv
**/env
**/.env
**/.git
**/.github
**/.vscode
**/*.log
**/instance
**/.pytest_cache
**/.coverage
**/htmlcov
**/.mypy_cache
**/.ruff_cache
*.db
.DS_Store
Thumbs.db